body{
    margin:0;
    font-family:Arial, Helvetica, sans-serif;
    background:#f5f5f5;
}

.home{
    max-width:500px;
    margin:auto;
    padding:20px;
}

.header{
    text-align:center;
    margin-top:30px;
    margin-bottom:30px;
}

.header h1{
    color:#6d213c;
    margin:0;
}

.header p{
    color:#666;
}

.tableBox{
    background:white;
    padding:20px;
    border-radius:15px;
    margin-bottom:25px;
}

.tableBox input{
    width:100%;
    margin-top:10px;
    padding:12px;
    font-size:18px;
    border-radius:8px;
}

.categories{
    display:grid;
    grid-template-columns:1fr 1fr;
    gap:15px;
}

.categories button{
    padding:20px;
    font-size:18px;
    border:none;
    border-radius:15px;
    background:#6d213c;
    color:white;
    cursor:pointer;
}

.startButton{
    margin-top:30px;
    width:100%;
    padding:18px;
    border:none;
    border-radius:15px;
    background:#0b8f42;
    color:white;
    font-size:20px;
    cursor:pointer;
}