.floating-cart{
    position:fixed;
    left:20px;
    right:20px;
    bottom:20px;

    background:#0b8457;

    color:white;

    border-radius:18px;

    padding:18px 22px;

    display:flex;

    justify-content:space-between;

    align-items:center;

    box-shadow:0 12px 30px rgba(0,0,0,.25);

    z-index:999;
}

.floating-cart strong{
    font-size:22px;
}

.floating-cart span{
    font-size:20px;
}

.floating-cart button{
    border:none;

    background:white;

    color:#0b8457;

    font-weight:bold;

    border-radius:12px;

    padding:12px 20px;

    cursor:pointer;

    font-size:16px;
}

.floating-cart button:hover{
    opacity:.9;
}